<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>

</head>

<body>
 <div class="login">
	<h1>Diabetes Prediction</h1>
    <form action="{{ url_for('predict_datapoint')}}" method="post">
      <input type="text" name="total_bill" placeholder="total_bill" required="required" /><br>
    	<input type="text" name="tip" placeholder="tip" required="required" /><br>
        <input type="text" name="sex" placeholder="sex" required="required" /><br>
        <input type="text" name="day" placeholder="day" required="required" /><br>
        <input type="text" name="size" placeholder="size" required="required" /><br>
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
<body>

   <br>
   <br>


 </div>
 {{result}}

</body>
</html>